#heading {
    position: relative;
    align-content: center;
    text-align: center;
    font-size: 60px;
    font-family: 'Acme', sans-serif;
}

#columnZero {
    width: 25%;
    float: left;
    /*    border: solid;*/
}

#columnOne {
    width: 25%;
    float: left;
    /*    border: solid;*/
}

#columnTwo {
    width: 25%;
    float: left;
    /*    border:solid;*/
}

#columnThree {
    width: 25%;
    float: left;
    /*    border:solid;*/
}

.headerButton {
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

#selectedButton {
    background-color: green;
}

body {
    background-color: lightgrey;
}

.thePages {
    border: 5px solid black;
}

#clipArtComputerRight {
    width: 6%;
    position: absolute;
    top: 1%;
    left: 67%;
}

#clipArtComputerLeft {
    width: 6%;
    position: absolute;
    top: 1%;
    left: 27%;
    /* The code below within this element's CSS was taken from https://css-tricks.com/snippets/css/flip-an-image/ */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#commentDescription {
    font-family: 'Ubuntu', sans-serif;
    color: darkblue;
    align-content: center;
    border: 5px solid black;
    position: absolute;
    top: 20%;
    left: 7%;
    width: 85%;
    text-align: center;
    font-size: 25px;
}

#loadedCommentsBox{
    border: 5px solid red;
    width: 60%;
    float: right;
    margin-top: 50px;
}

#commentBox {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 25%;
    height: 250px;
    margin: 50px;
    margin-top: 100px;
}

#commentBoxInput {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 250px;
}

#submitButton1 {
    width: 90%;
    height: 50px;
    text-align: center;
}